---
import Layout from "@layouts/Layout.astro";
import PostCard from "@components/PostCard.astro";
import HomeButton from "@components/HomeButton.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection("posts");
  posts.sort(
    (a, b) => Date.parse(b.data.publishDate) - Date.parse(a.data.publishDate)
  );

  return paginate(posts, { pageSize: 5 });
}
---

<Layout title={`All Posts | Page ${Astro.props.page.currentPage}`}>
  <div class="max-w-screen m-auto w-11/12 lg:w-3/4 xl:w-2/3 2xl:w-1/2">
    <HomeButton to={"/"} />
    <div class="text-center">
      <h1 class="text-gradient py-2 text-xl font-medium lg:text-5xl">
        {
          Astro.props.page.url.prev
            ? `All Posts: Page ${Astro.props.page.currentPage}`
            : "All Posts"
        }
      </h1>
      <div class="py-2">
        {
          Astro.props.page.url.prev ? (
            <a href={Astro.props.page.url.prev}>{"← Previous Page"}</a>
          ) : null
        }
        {
          Astro.props.page.url.next ? (
            <a href={Astro.props.page.url.next}>{"Next Page →"}</a>
          ) : null
        }
      </div>
      <div>
        {Astro.props.page.data.map((post: any) => <PostCard post={post} />)}
      </div>
    </div>
  </div>
</Layout>
